<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestString" value="TestString"/>
    <add key="TestInt" value="42"/>
    <add key="TestDateTime" value="1985-09-11 11:00:00"/>
  </appSettings>

  <connectionStrings>
    <add name="Test" connectionString="Data Source=Test.db;Version=3;"/>
  </connectionStrings>
</configuration>